---
import type { Frontmatter } from "../../types/frontmatter";
import { getSlug } from "../../utils/blog";

const { post } = Astro.props;
const { frontmatter }: { frontmatter: Frontmatter } = post;
const slug = getSlug(post.file);
const postUrl = `/blog/${slug}`;
---

<div class="">
  <h2 class="text-xl font-bold text-blue-300">
    <a href={postUrl}>
      {frontmatter.title}
    </a>
  </h2>
  <div class="my-2"></div>
  <p class="text-slate-300 text-lg">{frontmatter.description}</p>
  <div class="my-2"></div>
  <div class="flex flex-row items-center gap-1 text-sm text-slate-300">
    <div class="">-</div>
    <p class="">{post.frontmatter.publishedAt}</p>
  </div>
</div>
